@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard';
    color: #fff;
  }
}

@layer components {
  .effect-blur {
    backdrop-filter: blur(0.625rem);
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src:
    url('@assets/fonts/Pretendard/Pretendard-Light.woff') format('woff'),
    url('@assets/fonts/Pretendard/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src:
    url('@assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
    url('@assets/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src:
    url('@assets/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
    url('@assets/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src:
    url('@assets/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
    url('@assets/fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src:
    url('@assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
    url('@assets/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  src:
    url('@assets/fonts/Paperlogy/Paperlogy-Medium.woff') format('woff'),
    url('@assets/fonts/Paperlogy/Paperlogy-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  src:
    url('@assets/fonts/Paperlogy/Paperlogy-SemiBold.woff') format('woff'),
    url('@assets/fonts/Paperlogy/Paperlogy-SemiBold.woff2') format('woff2');
}

@layer components {
  .btn-primary-full {
    @apply w-full px-6 py-2.5 rounded-full bg-btn-primary-bg text-btn-primary-text text-md font-paperlogy font-semibold;
  }
  .btn-secondary-full {
    @apply w-full px-6 py-2.5 rounded-full bg-btn-secondary-bg text-btn-secondary-text text-md font-paperlogy font-semibold;
  }
  .btn-tertiary-full {
    @apply w-full px-6 py-2.5 rounded-full bg-btn-secondary-bg text-btn-tertiary-text text-md font-paperlogy font-semibold;
  }
  .btn-outlined-full {
    @apply w-full px-6 py-2.5 rounded-full border-1 border-solid border-primary text-btn-outlined-text text-md font-paperlogy font-semibold;
  }
  .btn-disabled-full {
    @apply w-full px-6 py-2.5 rounded-full bg-btn-disabled-bg text-btn-disabled-text text-md font-paperlogy font-semibold;
  }
  .btn-text-full {
    @apply w-full px-6 py-2.5 rounded-full text-btn-tertiary-text text-md font-paperlogy font-medium;
  }
  .chip-default {
    @apply px-3 py-1 rounded-full border-1 border-solid border-opacity-50 border-bg-50 text-bg-50 text-xs font-medium;
  }
  .chip-selected {
    @apply px-3 py-1 rounded-full bg-bg-50 text-bg-900 text-xs font-medium;
  }
}
